
@media(max-width:600px){
    *{
        margin: 0;
        padding: -15px;
        box-sizing: border-box;
        
        
        }
    .menu{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 50%;
      height: 100vh;
      position: fixed;
      top: 0;
      right: -100%;
      z-index: 100;
      background-color: var(--color1);
      transition: all 0.2s ease-in-out;
    }
    .menu li {
      margin-top: 40px;
  
    }
    menu li a{padding: 10px;
    }
    .open-menu,.close-menu{display: block;}
    #check:checked ~ .menu{
      right:0
    }
  
    .form-1{
      margin-top: 30px;
      margin-left: 0px;
      
    }
    .container-2{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
    }
   .facultysection{
      margin-left: 30px;

    }
    .courses-container .box-1 img{
      height: 45%;
      border-top: 2px;
      width: 90%;
  
  }
   .row{
    gap: 40px;
  }
   .container-1 {
    display: block;
    
}
.foundation,
.academyjee,
.academyneet {
    width: 80%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
    margin-left: 30px;
}
.res-about{
  display: grid;
  gap: 10px;
}
.res-about img{
  height: 190px;
  width:150px;
  margin-top: 20px;
  margin-left: 90px;
  margin-right: 20px;
  margin-bottom: 20px;
}
   .prev, .next,.text {font-size: 13px}
.dot{
height: 10px;
width: 10px;
}
   .row{
	display: flex;
  flex-direction: column;
	flex-wrap: wrap;
}
   
  
  }
